.homeHeaderBg {
    background-color: var(--primary);
    height: 900px;
    padding: 8rem 0 0 0;
    position: relative;

}

.homeHeaderBg::before {
    position: absolute;
    content: '';
    width: 100%;
    background-image: url(../../img/home/headercloud.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    bottom: 0;
    height: 350px;
}

.homeHeaderEnrollBtn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.homeHeaderEnrollBtn img {
    position: absolute;
}

.homeHeaderEnrollBtn p {
    font-family: enrollBtn;
    color: var(--white);
    font-size: 14px;
    z-index: 99;
    margin: 2.3rem 1.5rem;
    transform: rotate(358deg);
}

.homeHeaderSlider .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.homeHeaderSlider .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.headerSliderImg {
    border: 10px solid var(--white);
    border-radius: 12px;
    box-shadow: 0px 0px 15.443px rgba(0, 0, 0, 0.31);
    margin: 1rem;
    background-color: var(--white);
}

.homeHeaderSlider {
    margin-top: 3rem;
}

.homeHeaderSlider .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3rem;
}

.homeHeaderSlider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid var(--white);
}


/* ===============why LL==================== */

.title h2 {
    text-align: center;
    font-size: 50px;
    font-family: title;
    text-transform: uppercase;
    margin-top: 2rem;
}

.title.whyLL h2 {
    color: var(--primary);
}

.whyLLCard {
    background: #FFFFFF;
    box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    height: 400px;
    width: 85%;
    margin: 5rem auto auto auto;
    padding: 2rem 1.5rem;
}

.whyLLCardIcon {
    width: 72px;
    height: 72px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyLLCardIcon.one {
    background-color: var(--primary);
}

.whyLLCardIcon.two {
    background-color: var(--tertiary);
}

.whyLLCardIcon.three {
    background-color: var(--secondary);
}

.whyLLCardContent h4 {
    font-size: 26px;
    font-family: semibold;
    margin: 2rem 0 2rem 0;
}

.whyLLCardContent p{
    text-align: justify;
}



.whyLLBg {
    position: relative;
}

.whyLLBg::before {
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: -10rem;
    right: -17rem;
    background-color: #9CFFA0;
}

.whyLLBg::after {
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #FFA4CA;
    top: 5rem;
    left: -17rem;

}

/* ================end================ */

/* =========LLN Category============== */

.LLNCategoryBg {
    margin-top: 25rem;
    height: 500px;
    background-color: #82D2FF;
    position: relative;
}

.LLNCategoryBg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 240px;
    background-image: url(../../img/home/blue_cloud.webp);
    top: -15rem;
}

.LLNCategoryBg::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 137px;
    background-image: url(../../img/home/wave.webp);
    bottom: 0;
    background-repeat: no-repeat;
}

.LLNCategoryName {
    margin-top: 2rem !important;
}

.LLNCategoryName ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.LLNCategoryCircle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.LLNCategoryCardBg {
    background-color: var(--secondary);
    position: relative;
    padding: 0 0 5rem 0;
}

.LLNCategoryCardBg::after {
    position: absolute;
    content: '';
    width: 493px;
    height: 493px;
    background-color: #9CFFA0;
    right: -17rem;
    top: 16rem;
    border-radius: 50%;
}
.LLNCategoryCardBg::before {
    position: absolute;
    content: '';
    width: 493px;
    height: 493px;
    background-color: #FFA4CA;
    left: -17rem;
    bottom: 1rem;
    border-radius: 50%;
}

.LLNCategoryCardContent {
    background-color: var(--white);
    width: 85%;
    margin: 1rem;
    position: absolute;
    top: 0;
    border: 5px solid #FFD600;
    border-radius: 30px;
    padding: 1.2rem;
    height: 480px;
}

.LLNCategoryCard {
    position: relative;
    margin-top: 6rem;
}
.LLNCategoryCardContent h4{
    font-size: 30px;
    color: var(--primary);
    text-align: center;
    font-family: semibold;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.LLNCategoryCardContent button{
    width: 100%;
    height: 60px;
    color: var(--white);
    background-color: var(--secondary);
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 2rem 0 0 0;
    font-size: 26px;
}


/* ===============end============= */

/* ==========location=============== */
.homeLocationBg{
    background-color: var(--primary);
    height: 700px;
    position: relative;
    overflow: hidden;
}
.homeLocationBg::after{
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    background: #FFA4CA;
    border-radius: 50%;
    bottom: -13rem;
    right: -14rem;
    opacity: 0.6;
}
.homeLocationBg::before{
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    background: #9CFFA0;
    border-radius: 50%;
    bottom: -9rem;
    left: -11rem;
    opacity: 0.6;
}
.homeLocationBox{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homeLocationContent{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.homeLocationContent p{
    font-size: 40px;
    color: var(--white);
    line-height: 1;
}
.homeLocationContent button{
    padding: 10px 50px;
    border-radius: 50px;
    border: 5px solid var(--white);
    background-color: transparent;
    font-family: boldfont;
    color: var(--white);
    font-size: 20px;
    margin-top: 2rem;
}
.homeLocationContent button img{
    max-width: 15px;
    margin-left: 1rem;
}
.homeLocationContentMap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.homeLocationContentMap iframe{
    width: 500px;
    height: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* ========end============= */